In [20]:
## Create a list called : A
A = [0,2,5,'Data']

In [21]:
## Add an element to the list
A.append('Science')

print(A)

[0, 2, 5, 'Data', 'Science']

In [22]:
## Copy a list
B = A.copy()

print(B)

[0, 2, 5, 'Data', 'Science']

In [23]:
## Count of an element in the list
count_of2 = A.count(2)

print(count_of2)

1

In [24]:
## Add another 2 in list B and find count(2)
B.append(2)
count_of2 = B.count(2)

print(count_of2)

2

In [25]:
## Extend A with a string of 123, adding three strings to A : 1,2,3
A.extend('123')

print(A)

[0, 2, 5, 'Data', 'Science', '1', '2', '3']

In [26]:
## Find index of 5 in A
A.index(5)

2

In [27]:
## POP command to delete last element of list A
A.pop()
print(A)

[0, 2, 5, 'Data', 'Science', '1', '2']

In [28]:
## Add 777 integer to the position 1 in A, 
## which results a shift to all other elements
A.insert(1,777)

print(A)

[0, 777, 2, 5, 'Data', 'Science', '1', '2']

In [29]:
## Remove the element equal to 0,
## which results a shift to all other elements
A.remove(0)

print(A)

[777, 2, 5, 'Data', 'Science', '1', '2']

In [30]:
## Reverse order of list elements
A.reverse()

print(A)

['2', '1', 'Science', 'Data', 5, 2, 777]

In [31]:
## Sort elements 
C = [1,2,10,5,3,7,5]
C.sort()

print(C)

[1, 2, 3, 5, 5, 7, 10]

In [33]:
## Clear the list C
C.clear()
print(C)

[]